@tailwind base;
@tailwind components;
@tailwind utilities;

/* 공통 디자인만 여기에 적으면 될 듯? */

/* 글꼴 */
@font-face {
  font-family: '산토끼';
  src: url(/fonts/HSSantokki-Regular.ttf);
}

@font-face {
  font-family: '나눔스퀘어bold';
  src: url(/fonts/NanumSquare_acB.ttf);
}

@font-face {
  font-family: '나눔스퀘어regular';
  src: url(/fonts/NanumSquare_acR.ttf);
}

@font-face {
  font-family: '온글잎시우';
  src: url(/fonts/Ownglyph_2022_UWY_Si_Woo-Rg.ttf);
}

@font-face {
  font-family: '호빵';
  src: url(/fonts/SDSamliphopangcheTTFBasic.ttf);
}

@font-face {
  font-family: '영도';
  src: url(/fonts/Yeongdo.ttf);
}

/* 공통 버튼양식, 전체적인 레이어 등등... */
@layer components {
  .main-layer {
    /* 열방향, 가운데정렬, 최대너비500, 너비반응형, 배경흰색 */
    @apply flex flex-col justify-center items-center max-w-[500px] w-full h-screen bg-white
  }

  .header {
    @apply flex flex-row items-center bg-white shadow-lg absolute top-0 max-w-[500px] w-full max-h-[60px] h-full
  }

  .footer {
    /* 행방향, 가운데정렬, 배경흰색, absolute 바닥고정, 윗부분 회색 border */
    @apply absolute bottom-0 flex h-[80px] w-full max-w-[500px] flex-row items-center justify-between border-t-[1px] border-gray-400 bg-white px-10;
  }

  .common-btn {
    /* 가운데정렬, 테투리둥글게, 나눔스퀘어, 글꼴흰색, 배경주황색 */
    @apply flex flex-row items-center justify-center rounded-lg bg-cusColor3 font-cusFont3 text-white;
  }

  /* 회원, 친구목록 관련 */
  .signup-font {
    @apply font-cusFont3 text-gray-400
  }

  .fav-btn {
    @apply max-w-[100px] max-h-[100px] w-full h-full bg-white border-[3px] rounded
  }
}